streamlit
streamlit-folium
streamlit-option-menu
reportlab
pillow
openpyxl   # kalau mau export XLSX
pandas     # kalau mau olah tabel marker
lxml
simplekml
requests
shapely
osmnx
geopandas
fastkml
owslib
folium
google-auth
google-auth-oauthlib
google-auth-httplib2
